.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  animation: App-logo-spin infinite alternate 20s linear;
  height: 80px;
  position: absolute;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { 
    transform: rotate(0deg);
    top: 10px;
    left: 20%;
   }
  to { 
    transform: rotate(360deg); 
    top: 100px;
    left: 80%;
  }
}


.test{
  color: pink;
}
.pic img {
  width: 200px;
  animation: App-pic-spin infinite alternate 2s linear;
}

@keyframes App-pic-spin {
  from { 
    transform: rotate(-45deg);
    /* top: 10px;
    left: 20%; */
   }
  to { 
    transform: rotate(45deg); 
    /* top: 100px;
    left: 80%; */
  }
}
